{% extends 'base.html.twig' %}

{% block title %}Pony index{% endblock %}

{% block body %}
    <h1>Pony index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Birthdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pony in ponies %}
            <tr>
                <td>{{ pony.id }}</td>
                <td>{{ pony.name }}</td>
                <td>{{ pony.birthdate ? pony.birthdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('pony_show', {'id': pony.id}) }}">show</a>
                    <a href="{{ path('pony_edit', {'id': pony.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pony_new') }}">Create new</a>
{% endblock %}
